In [1]:
import pandas as pd
import json

In [2]:
train_set = pd.read_csv('train.csv',low_memory=False)

In [3]:
def geo_network_split(df):
    df_1 = train_set.geoNetwork.map(lambda row: json.loads(row))
    df_2 = pd.DataFrame(df_1.values.tolist(), index=df.index)
    df_new = pd.concat([df, df_2], axis=1).drop('geoNetwork', axis=1)
    return df_new

Split geoNetwork into city/cityid/continent/country/latitude/longitude/metro/networkDomain/networkLocation/region/subContinent

In [4]:
train_set = geo_network_split(train_set)

In [29]:
geo_network = train_set[['city','cityId','continent','country','latitude','longitude','metro','networkDomain','networkLocation','region','subContinent']]
geo_network

,city,cityId,continent,country,latitude,longitude,metro,networkDomain,networkLocation,region,subContinent
0,Izmir,not available in demo dataset,Asia,Turkey,not available in demo dataset,not available in demo dataset,(not set),ttnet.com.tr,not available in demo dataset,Izmir,Western Asia
1,not available in demo dataset,not available in demo dataset,Oceania,Australia,not available in demo dataset,not available in demo dataset,not available in demo dataset,dodo.net.au,not available in demo dataset,not available in demo dataset,Australasia
2,Madrid,not available in demo dataset,Europe,Spain,not available in demo dataset,not available in demo dataset,(not set),unknown.unknown,not available in demo dataset,Community of Madrid,Southern Europe
3,not available in demo dataset,not available in demo dataset,Asia,Indonesia,not available in demo dataset,not available in demo dataset,not available in demo dataset,unknown.unknown,not available in demo dataset,not available in demo dataset,Southeast Asia
4,not available in demo dataset,not available in demo dataset,Europe,United Kingdom,not available in demo dataset,not available in demo dataset,not available in demo dataset,unknown.unknown,not available in demo dataset,not available in demo dataset,Northern Europe
5,not available in demo dataset,not available in demo dataset,Europe,Italy,not available in demo dataset,not available in demo dataset,not available in demo dataset,fastwebnet.it,not available in demo dataset,not available in demo dataset,Southern Europe
6,not available in demo dataset,not available in demo dataset,Asia,Pakistan,not available in demo dataset,not available in demo dataset,not available in demo dataset,unknown.unknown,not available in demo dataset,not available in demo dataset,Southern Asia
7,Brisbane,not available in demo dataset,Oceania,Australia,not available in demo dataset,not available in demo dataset,(not set),bigpond.net.au,not available in demo dataset,Queensland,Australasia
8,not available in demo dataset,not available in demo dataset,Europe,Austria,not available in demo dataset,not available in demo dataset,not available in demo dataset,spar.at,not available in demo dataset,not available in demo dataset,Western Europe
9,not available in demo dataset,not available in demo dataset,Europe,Netherlands,not available in demo dataset,not available in demo dataset,not available in demo dataset,chello.nl,not available in demo dataset,not available in demo dataset,Western Europe
10,not available in demo dataset,not available in demo dataset,Asia,India,not available in demo dataset,not available in demo dataset,not available in demo dataset,airtelbroadband.in,not available in demo dataset,not available in demo dataset,Southern Asia
11,not available in demo dataset,not available in demo dataset,Europe,France,not available in demo dataset,not available in demo dataset,not available in demo dataset,wanadoo.fr,not available in demo dataset,not available in demo dataset,Western Europe
12,Izmir,not available in demo dataset,Asia,Turkey,not available in demo dataset,not available in demo dataset,(not set),unknown.unknown,not available in demo dataset,Izmir,Western Asia
13,Karachi,not available in demo dataset,Asia,Pakistan,not available in demo dataset,not available in demo dataset,(not set),unknown.unknown,not available in demo dataset,Sindh,Southern Asia
14,not available in demo dataset,not available in demo dataset,Americas,Brazil,not available in demo dataset,not available in demo dataset,not available in demo dataset,cabotelecom.com.br,not available in demo dataset,not available in demo dataset,South America
15,not available in demo dataset,not available in demo dataset,Asia,China,not available in demo dataset,not available in demo dataset,not available in demo dataset,unknown.unknown,not available in demo dataset,not available in demo dataset,Eastern Asia
16,not available in demo dataset,not available in demo dataset,Europe,Netherlands,not available in demo dataset,not available in demo dataset,not available in demo dataset,igmholding.nl,not available in demo dataset,not available in demo dataset,Western Europe
17,Paris,not available in demo dataset,Europe,France,not available in demo dataset,not available in demo dataset,(not set),nerim.net,not available in demo dataset,Ile-de-France,Western Europe
18,Singapore,not available in demo dataset,Asia,Singapore,not available in demo dataset,not available in demo dataset,(not set),unknown.unknown,not available in demo dataset,(not set),Southeast Asia
19,Buenos Aires,not available in demo dataset,Americas,Argentina,not available in demo dataset,not available in demo dataset,(not set),phonevision.com.ar,not available in demo dataset,Buenos Aires,South America
20,not available in demo dataset,not available in demo dataset,Europe,Poland,not available in demo dataset,not available in demo dataset,not available in demo dataset,tpnet.pl,not available in demo dataset,not available in demo dataset,Eastern Europe
21,(not set),not available in demo dataset,Europe,Germany,not available in demo dataset,not available in demo dataset,(not set),live-servers.net,not available in demo dataset,(not set),Western Europe
22,not available in demo dataset,not available in demo dataset,Americas,Canada,not available in demo dataset,not available in demo dataset,not available in demo dataset,unknown.unknown,not available in demo dataset,not available in demo dataset,Northern America
23,Bangkok,not available in demo dataset,Asia,Thailand,not available in demo dataset,not available in demo dataset,(not set),asianet.co.th,not available in demo dataset,Bangkok,Southeast Asia
24,Jakarta,not available in demo dataset,Asia,Indonesia,not available in demo dataset,not available in demo dataset,(not set),cbn.net.id,not available in demo dataset,Jakarta,Southeast Asia
25,not available in demo dataset,not available in demo dataset,Europe,Germany,not available in demo dataset,not available in demo dataset,not available in demo dataset,hafele.com,not available in demo dataset,not available in demo dataset,Western Europe
26,not available in demo dataset,not available in demo dataset,Europe,France,not available in demo dataset,not available in demo dataset,not available in demo dataset,coltfrance.com,not available in demo dataset,not available in demo dataset,Western Europe
27,not available in demo dataset,not available in demo dataset,Europe,Hungary,not available in demo dataset,not available in demo dataset,not available in demo dataset,broadband.hu,not available in demo dataset,not available in demo dataset,Eastern Europe
28,Bengaluru,not available in demo dataset,Asia,India,not available in demo dataset,not available in demo dataset,(not set),unknown.unknown,not available in demo dataset,Karnataka,Southern Asia
29,not available in demo dataset,not available in demo dataset,Asia,Malaysia,not available in demo dataset,not available in demo dataset,not available in demo dataset,unknown.unknown,not available in demo dataset,not available in demo dataset,Southeast Asia
...,...,...,...,...,...,...,...,...,...,...,...
903623,not available in demo dataset,not available in demo dataset,Asia,Turkey,not available in demo dataset,not available in demo dataset,not available in demo dataset,unknown.unknown,not available in demo dataset,not available in demo dataset,Western Asia
903624,not available in demo dataset,not available in demo dataset,Americas,Puerto Rico,not available in demo dataset,not available in demo dataset,not available in demo dataset,unknown.unknown,not available in demo dataset,not available in demo dataset,Caribbean
903625,not available in demo dataset,not available in demo dataset,Americas,United States,not available in demo dataset,not available in demo dataset,not available in demo dataset,verizon.net,not available in demo dataset,not available in demo dataset,Northern America
903626,not available in demo dataset,not available in demo dataset,Americas,United States,not available in demo dataset,not available in demo dataset,not available in demo dataset,rr.com,not available in demo dataset,not available in demo dataset,Northern America
903627,not available in demo dataset,not available in demo dataset,Americas,Canada,not available in demo dataset,not available in demo dataset,not available in demo dataset,rupert.net,not available in demo dataset,not available in demo dataset,Northern America
903628,not available in demo dataset,not available in demo dataset,Americas,United States,not available in demo dataset,not available in demo dataset,not available in demo dataset,(not set),not available in demo dataset,not available in demo dataset,Northern America
903629,not available in demo dataset,not available in demo dataset,Asia,Malaysia,not available in demo dataset,not available in demo dataset,not available in demo dataset,unknown.unknown,not available in demo dataset,not available in demo dataset,Southeast Asia
903630,not available in demo dataset,not available in demo dataset,Americas,Chile,not available in demo dataset,not available in demo dataset,not available in demo dataset,vtr.net,not available in demo dataset,not available in demo dataset,South America
903631,not available in demo dataset,not available in demo dataset,Europe,Germany,not available in demo dataset,not available in demo dataset,not available in demo dataset,(not set),not available in demo dataset,not available in demo dataset,Western Europe
903632,not available in demo dataset,not available in demo dataset,Americas,Brazil,not available in demo dataset,not available in demo dataset,not available in demo dataset,f1net.com.br,not available in demo dataset,not available in demo dataset,South America
903633,not available in demo dataset,not available in demo dataset,Europe,United Kingdom,not available in demo dataset,not available in demo dataset,not available in demo dataset,btcentralplus.com,not available in demo dataset,not available in demo dataset,Northern Europe
903634,Stockholm,not available in demo dataset,Europe,Sweden,not available in demo dataset,not available in demo dataset,(not set),dgcsystems.net,not available in demo dataset,Stockholm County,Northern Europe
903635,Los Angeles,not available in demo dataset,Americas,United States,not available in demo dataset,not available in demo dataset,Los Angeles CA,(not set),not available in demo dataset,California,Northern America
903636,San Francisco,not available in demo dataset,Americas,United States,not available in demo dataset,not available in demo dataset,San Francisco-Oakland-San Jose CA,(not set),not available in demo dataset,California,Northern America
903637,not available in demo dataset,not available in demo dataset,Europe,Serbia,not available in demo dataset,not available in demo dataset,not available in demo dataset,sbb.rs,not available in demo dataset,not available in demo dataset,Southern Europe
903638,not available in demo dataset,not available in demo dataset,Americas,United States,not available in demo dataset,not available in demo dataset,not available in demo dataset,embarqhsd.net,not available in demo dataset,not available in demo dataset,Northern America
903639,not available in demo dataset,not available in demo dataset,Europe,Italy,not available in demo dataset,not available in demo dataset,not available in demo dataset,electrosystem.com,not available in demo dataset,not available in demo dataset,Southern Europe
903640,not available in demo dataset,not available in demo dataset,Europe,Netherlands,not available in demo dataset,not available in demo dataset,not available in demo dataset,(not set),not available in demo dataset,not available in demo dataset,Western Europe
903641,Hong Kong,not available in demo dataset,Asia,Hong Kong,not available in demo dataset,not available in demo dataset,(not set),ctinets.com,not available in demo dataset,(not set),Eastern Asia
903642,not available in demo dataset,not available in demo dataset,Europe,Germany,not available in demo dataset,not available in demo dataset,not available in demo dataset,(not set),not available in demo dataset,not available in demo dataset,Western Europe
903643,Fremont,not available in demo dataset,Americas,United States,not available in demo dataset,not available in demo dataset,San Francisco-Oakland-San Jose CA,(not set),not available in demo dataset,California,Northern America
903644,not available in demo dataset,not available in demo dataset,Americas,United States,not available in demo dataset,not available in demo dataset,not available in demo dataset,rr.com,not available in demo dataset,not available in demo dataset,Northern America
903645,New York,not available in demo dataset,Americas,United States,not available in demo dataset,not available in demo dataset,New York NY,att.net,not available in demo dataset,New York,Northern America
903646,Melbourne,not available in demo dataset,Oceania,Australia,not available in demo dataset,not available in demo dataset,(not set),optusnet.com.au,not available in demo dataset,Victoria,Australasia
903647,not available in demo dataset,not available in demo dataset,Africa,Egypt,not available in demo dataset,not available in demo dataset,not available in demo dataset,tedata.net,not available in demo dataset,not available in demo dataset,Northern Africa
903648,not available in demo dataset,not available in demo dataset,Americas,Puerto Rico,not available in demo dataset,not available in demo dataset,not available in demo dataset,prtc.net,not available in demo dataset,not available in demo dataset,Caribbean
903649,not available in demo dataset,not available in demo dataset,Asia,Sri Lanka,not available in demo dataset,not available in demo dataset,not available in demo dataset,unknown.unknown,not available in demo dataset,not available in demo dataset,Southern Asia
903650,Seoul,not available in demo dataset,Asia,South Korea,not available in demo dataset,not available in demo dataset,(not set),unknown.unknown,not available in demo dataset,Seoul,Eastern Asia
903651,not available in demo dataset,not available in demo dataset,Asia,Indonesia,not available in demo dataset,not available in demo dataset,not available in demo dataset,unknown.unknown,not available in demo dataset,not available in demo dataset,Southeast Asia
903652,not available in demo dataset,not available in demo dataset,Americas,Mexico,not available in demo dataset,not available in demo dataset,not available in demo dataset,cybercable.net.mx,not available in demo dataset,not available in demo dataset,Central America

In [30]:
geo_network.groupby('city').count()

,cityId,continent,country,latitude,longitude,metro,networkDomain,networkLocation,region,subContinent
city,,,,,,,,,,
's Hertogenbosch,7,7,7,7,7,7,7,7,7,7
(not set),34262,34262,34262,34262,34262,34262,34262,34262,34262,34262
Aalborg,41,41,41,41,41,41,41,41,41,41
Aalen,9,9,9,9,9,9,9,9,9,9
Aberdeen,21,21,21,21,21,21,21,21,21,21
Abu Dhabi,95,95,95,95,95,95,95,95,95,95
Adana,188,188,188,188,188,188,188,188,188,188
Adelaide,18,18,18,18,18,18,18,18,18,18
Ahmedabad,916,916,916,916,916,916,916,916,916,916
Akron,66,66,66,66,66,66,66,66,66,66
Alba,7,7,7,7,7,7,7,7,7,7
Alba Iulia,21,21,21,21,21,21,21,21,21,21
Alexandria,52,52,52,52,52,52,52,52,52,52
Alicante,38,38,38,38,38,38,38,38,38,38
Allendale Charter Township,8,8,8,8,8,8,8,8,8,8
Almaty,33,33,33,33,33,33,33,33,33,33
Almeria,33,33,33,33,33,33,33,33,33,33
Altrincham,14,14,14,14,14,14,14,14,14,14
Amberg,30,30,30,30,30,30,30,30,30,30
Amersfoort,7,7,7,7,7,7,7,7,7,7
Amherst,6,6,6,6,6,6,6,6,6,6
Amsterdam,1467,1467,1467,1467,1467,1467,1467,1467,1467,1467
Amã,84,84,84,84,84,84,84,84,84,84
Anaheim,8,8,8,8,8,8,8,8,8,8
Ankara,1511,1511,1511,1511,1511,1511,1511,1511,1511,1511
Ann Arbor,2241,2241,2241,2241,2241,2241,2241,2241,2241,2241
Annecy-le-Vieux,6,6,6,6,6,6,6,6,6,6
Antalya,231,231,231,231,231,231,231,231,231,231
Antwerp,17,17,17,17,17,17,17,17,17,17
Appleton,12,12,12,12,12,12,12,12,12,12
...,...,...,...,...,...,...,...,...,...,...
Warsaw,3288,3288,3288,3288,3288,3288,3288,3288,3288,3288
Washington,2532,2532,2532,2532,2532,2532,2532,2532,2532,2532
Waterloo,41,41,41,41,41,41,41,41,41,41
Watford,6,6,6,6,6,6,6,6,6,6
Weingarten,13,13,13,13,13,13,13,13,13,13
Wellesley,60,60,60,60,60,60,60,60,60,60
Wellington,19,19,19,19,19,19,19,19,19,19
Westlake Village,23,23,23,23,23,23,23,23,23,23
Westville,8,8,8,8,8,8,8,8,8,8
Wheaton,16,16,16,16,16,16,16,16,16,16
Wheeling,14,14,14,14,14,14,14,14,14,14
White Plains,7,7,7,7,7,7,7,7,7,7
Whitewater,32,32,32,32,32,32,32,32,32,32
Winnipeg,6,6,6,6,6,6,6,6,6,6
Wollongong,6,6,6,6,6,6,6,6,6,6
Woodbridge Township,12,12,12,12,12,12,12,12,12,12
Wrexham,9,9,9,9,9,9,9,9,9,9
Wroclaw,126,126,126,126,126,126,126,126,126,126
Yokohama,325,325,325,325,325,325,325,325,325,325
Zagreb,247,247,247,247,247,247,247,247,247,247
Zamudio,14,14,14,14,14,14,14,14,14,14
Zaoqiao Township,7,7,7,7,7,7,7,7,7,7
Zapopan,6,6,6,6,6,6,6,6,6,6
Zaragoza,43,43,43,43,43,43,43,43,43,43
Zaventem,9,9,9,9,9,9,9,9,9,9
Zhongli District,240,240,240,240,240,240,240,240,240,240
Zhudong Township,17,17,17,17,17,17,17,17,17,17
Zurich,1186,1186,1186,1186,1186,1186,1186,1186,1186,1186
Zwolle,6,6,6,6,6,6,6,6,6,6
not available in demo dataset,508229,508229,508229,508229,508229,508229,508229,508229,508229,508229

In [31]:
geo_network.groupby('cityId').count()

,city,continent,country,latitude,longitude,metro,networkDomain,networkLocation,region,subContinent
cityId,,,,,,,,,,
not available in demo dataset,903653,903653,903653,903653,903653,903653,903653,903653,903653,903653

we can delete the column cityId since all value equals to NA

In [32]:
geo_network.groupby('continent').count()

,city,cityId,country,latitude,longitude,metro,networkDomain,networkLocation,region,subContinent
continent,,,,,,,,,,
(not set),1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Africa,14745,14745,14745,14745,14745,14745,14745,14745,14745,14745
Americas,450377,450377,450377,450377,450377,450377,450377,450377,450377,450377
Asia,223698,223698,223698,223698,223698,223698,223698,223698,223698,223698
Europe,198311,198311,198311,198311,198311,198311,198311,198311,198311,198311
Oceania,15054,15054,15054,15054,15054,15054,15054,15054,15054,15054

In [33]:
geo_network.groupby('country').count()

,city,cityId,continent,latitude,longitude,metro,networkDomain,networkLocation,region,subContinent
country,,,,,,,,,,
(not set),1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Afghanistan,57,57,57,57,57,57,57,57,57,57
Albania,547,547,547,547,547,547,547,547,547,547
Algeria,2055,2055,2055,2055,2055,2055,2055,2055,2055,2055
American Samoa,1,1,1,1,1,1,1,1,1,1
Andorra,17,17,17,17,17,17,17,17,17,17
Angola,58,58,58,58,58,58,58,58,58,58
Anguilla,1,1,1,1,1,1,1,1,1,1
Antigua & Barbuda,5,5,5,5,5,5,5,5,5,5
Argentina,5037,5037,5037,5037,5037,5037,5037,5037,5037,5037
Armenia,280,280,280,280,280,280,280,280,280,280
Aruba,29,29,29,29,29,29,29,29,29,29
Australia,12698,12698,12698,12698,12698,12698,12698,12698,12698,12698
Austria,2796,2796,2796,2796,2796,2796,2796,2796,2796,2796
Azerbaijan,569,569,569,569,569,569,569,569,569,569
Bahamas,40,40,40,40,40,40,40,40,40,40
Bahrain,256,256,256,256,256,256,256,256,256,256
Bangladesh,2297,2297,2297,2297,2297,2297,2297,2297,2297,2297
Barbados,55,55,55,55,55,55,55,55,55,55
Belarus,976,976,976,976,976,976,976,976,976,976
Belgium,4442,4442,4442,4442,4442,4442,4442,4442,4442,4442
Belize,27,27,27,27,27,27,27,27,27,27
Benin,42,42,42,42,42,42,42,42,42,42
Bermuda,38,38,38,38,38,38,38,38,38,38
Bhutan,8,8,8,8,8,8,8,8,8,8
Bolivia,318,318,318,318,318,318,318,318,318,318
Bosnia & Herzegovina,903,903,903,903,903,903,903,903,903,903
Botswana,14,14,14,14,14,14,14,14,14,14
Brazil,19783,19783,19783,19783,19783,19783,19783,19783,19783,19783
British Virgin Islands,5,5,5,5,5,5,5,5,5,5
...,...,...,...,...,...,...,...,...,...,...
Sweden,5315,5315,5315,5315,5315,5315,5315,5315,5315,5315
Switzerland,4427,4427,4427,4427,4427,4427,4427,4427,4427,4427
Syria,10,10,10,10,10,10,10,10,10,10
São Tomé & Príncipe,1,1,1,1,1,1,1,1,1,1
Taiwan,12996,12996,12996,12996,12996,12996,12996,12996,12996,12996
Tajikistan,12,12,12,12,12,12,12,12,12,12
Tanzania,260,260,260,260,260,260,260,260,260,260
Thailand,20123,20123,20123,20123,20123,20123,20123,20123,20123,20123
Timor-Leste,7,7,7,7,7,7,7,7,7,7
Togo,32,32,32,32,32,32,32,32,32,32
Trinidad & Tobago,164,164,164,164,164,164,164,164,164,164
Tunisia,1194,1194,1194,1194,1194,1194,1194,1194,1194,1194
Turkey,20522,20522,20522,20522,20522,20522,20522,20522,20522,20522
Turkmenistan,5,5,5,5,5,5,5,5,5,5
Turks & Caicos Islands,14,14,14,14,14,14,14,14,14,14
U.S. Virgin Islands,22,22,22,22,22,22,22,22,22,22
Uganda,166,166,166,166,166,166,166,166,166,166
Ukraine,5577,5577,5577,5577,5577,5577,5577,5577,5577,5577
United Arab Emirates,3144,3144,3144,3144,3144,3144,3144,3144,3144,3144
United Kingdom,37393,37393,37393,37393,37393,37393,37393,37393,37393,37393
United States,364744,364744,364744,364744,364744,364744,364744,364744,364744,364744
Uruguay,627,627,627,627,627,627,627,627,627,627
Uzbekistan,96,96,96,96,96,96,96,96,96,96
Vanuatu,3,3,3,3,3,3,3,3,3,3
Venezuela,2132,2132,2132,2132,2132,2132,2132,2132,2132,2132
Vietnam,24598,24598,24598,24598,24598,24598,24598,24598,24598,24598
Yemen,96,96,96,96,96,96,96,96,96,96
Zambia,40,40,40,40,40,40,40,40,40,40
Zimbabwe,59,59,59,59,59,59,59,59,59,59
Åland Islands,1,1,1,1,1,1,1,1,1,1

In [ ]:
geo_network.groupby('latitude').count()

In [11]:
geo_network.groupby('longitude').count()

,city,cityId,continent,country,latitude,metro,networkDomain,networkLocation,region,subContinent
longitude,,,,,,,,,,
not available in demo dataset,903653,903653,903653,903653,903653,903653,903653,903653,903653,903653

In [12]:
geo_network.groupby('metro').count()

,city,cityId,continent,country,latitude,longitude,networkDomain,networkLocation,region,subContinent
metro,,,,,,,,,,
(not set),201766,201766,201766,201766,201766,201766,201766,201766,201766,201766
Abilene-Sweetwater TX,10,10,10,10,10,10,10,10,10,10
Albany-Schenectady-Troy NY,19,19,19,19,19,19,19,19,19,19
Atlanta GA,2463,2463,2463,2463,2463,2463,2463,2463,2463,2463
Augusta GA,7,7,7,7,7,7,7,7,7,7
Austin TX,3790,3790,3790,3790,3790,3790,3790,3790,3790,3790
Baltimore MD,32,32,32,32,32,32,32,32,32,32
Boise ID,3,3,3,3,3,3,3,3,3,3
Boston MA-Manchester NH,2628,2628,2628,2628,2628,2628,2628,2628,2628,2628
Butte-Bozeman MT,3,3,3,3,3,3,3,3,3,3
Central Scotland,65,65,65,65,65,65,65,65,65,65
Charleston SC,52,52,52,52,52,52,52,52,52,52
Charlotte NC,525,525,525,525,525,525,525,525,525,525
Charlottesville VA,13,13,13,13,13,13,13,13,13,13
Chattanooga TN,6,6,6,6,6,6,6,6,6,6
Chicago IL,7585,7585,7585,7585,7585,7585,7585,7585,7585,7585
Chico-Redding CA,94,94,94,94,94,94,94,94,94,94
Cincinnati OH,71,71,71,71,71,71,71,71,71,71
Cleveland-Akron (Canton) OH,66,66,66,66,66,66,66,66,66,66
Colorado Springs-Pueblo CO,16,16,16,16,16,16,16,16,16,16
Columbus OH,517,517,517,517,517,517,517,517,517,517
Dallas-Ft. Worth TX,2012,2012,2012,2012,2012,2012,2012,2012,2012,2012
Denver CO,877,877,877,877,877,877,877,877,877,877
Detroit MI,2403,2403,2403,2403,2403,2403,2403,2403,2403,2403
El Paso TX,33,33,33,33,33,33,33,33,33,33
Fresno-Visalia CA,67,67,67,67,67,67,67,67,67,67
Grand Rapids-Kalamazoo-Battle Creek MI,128,128,128,128,128,128,128,128,128,128
Green Bay-Appleton WI,91,91,91,91,91,91,91,91,91,91
Greenville-Spartanburg-Asheville-Anderson,16,16,16,16,16,16,16,16,16,16
HTV Wales,20,20,20,20,20,20,20,20,20,20
...,...,...,...,...,...,...,...,...,...,...
Orlando-Daytona Beach-Melbourne FL,360,360,360,360,360,360,360,360,360,360
Panama City FL,8,8,8,8,8,8,8,8,8,8
Philadelphia PA,800,800,800,800,800,800,800,800,800,800
Phoenix AZ,537,537,537,537,537,537,537,537,537,537
Pittsburgh PA,1076,1076,1076,1076,1076,1076,1076,1076,1076,1076
Portland OR,1319,1319,1319,1319,1319,1319,1319,1319,1319,1319
"Providence-New Bedford,MA",6,6,6,6,6,6,6,6,6,6
Raleigh-Durham (Fayetteville) NC,55,55,55,55,55,55,55,55,55,55
Roanoke-Lynchburg VA,2227,2227,2227,2227,2227,2227,2227,2227,2227,2227
"Rochester-Mason City-Austin,IA",6,6,6,6,6,6,6,6,6,6
Sacramento-Stockton-Modesto CA,62,62,62,62,62,62,62,62,62,62
Salt Lake City UT,62,62,62,62,62,62,62,62,62,62
San Antonio TX,393,393,393,393,393,393,393,393,393,393
San Diego CA,1364,1364,1364,1364,1364,1364,1364,1364,1364,1364
San Francisco-Oakland-San Jose CA,95913,95913,95913,95913,95913,95913,95913,95913,95913,95913
Seattle-Tacoma WA,7642,7642,7642,7642,7642,7642,7642,7642,7642,7642
Springfield MO,8,8,8,8,8,8,8,8,8,8
Springfield-Holyoke MA,6,6,6,6,6,6,6,6,6,6
St. Louis MO,27,27,27,27,27,27,27,27,27,27
Syracuse NY,7,7,7,7,7,7,7,7,7,7
Tallahassee FL-Thomasville GA,6,6,6,6,6,6,6,6,6,6
Tampa-St. Petersburg (Sarasota) FL,34,34,34,34,34,34,34,34,34,34
Tri-Cities TN-VA,8,8,8,8,8,8,8,8,8,8
Tucson (Sierra Vista) AZ,7,7,7,7,7,7,7,7,7,7
Tulsa OK,51,51,51,51,51,51,51,51,51,51
Utica NY,23,23,23,23,23,23,23,23,23,23
Washington DC (Hagerstown MD),3380,3380,3380,3380,3380,3380,3380,3380,3380,3380
Wheeling WV-Steubenville OH,14,14,14,14,14,14,14,14,14,14
Yorkshire,94,94,94,94,94,94,94,94,94,94
not available in demo dataset,508229,508229,508229,508229,508229,508229,508229,508229,508229,508229

In [13]:
geo_network.groupby('networkDomain').count()

,city,cityId,continent,country,latitude,longitude,metro,networkLocation,region,subContinent
networkDomain,,,,,,,,,,
(not set),244881,244881,244881,244881,244881,244881,244881,244881,244881,244881
0101.net.au,4,4,4,4,4,4,4,4,4,4
012.net.il,312,312,312,312,312,312,312,312,312,312
018.net.il,103,103,103,103,103,103,103,103,103,103
02.net,517,517,517,517,517,517,517,517,517,517
04.4-x64,1,1,1,1,1,1,1,1,1,1
099.net.il,15,15,15,15,15,15,15,15,15,15
0beta,1,1,1,1,1,1,1,1,1,1
0pb.org,1,1,1,1,1,1,1,1,1,1
0rbitel.net,10,10,10,10,10,10,10,10,10,10
10-42.net,1,1,1,1,1,1,1,1,1,1
100megabit.ru,19,19,19,19,19,19,19,19,19,19
100tb.com,38,38,38,38,38,38,38,38,38,38
101netlink.com,3,3,3,3,3,3,3,3,3,3
103-ebonenet.com,1,1,1,1,1,1,1,1,1,1
10call.com,1,1,1,1,1,1,1,1,1,1
10net.net,3,3,3,3,3,3,3,3,3,3
10outof10winning.net,1,1,1,1,1,1,1,1,1,1
111-tataidc.co.in,225,225,225,225,225,225,225,225,225,225
115-tataidc.co.in,9,9,9,9,9,9,9,9,9,9
122-airtelbroadband.in,203,203,203,203,203,203,203,203,203,203
123.net,17,17,17,17,17,17,17,17,17,17
123ce.fr,3,3,3,3,3,3,3,3,3,3
123multimedia.com,1,1,1,1,1,1,1,1,1,1
130.2,1,1,1,1,1,1,1,1,1,1
14-tataidc.co.in,160,160,160,160,160,160,160,160,160,160
150pelican.com,2,2,2,2,2,2,2,2,2,2
15fairrecommendadventure.com,1,1,1,1,1,1,1,1,1,1
163.com,3,3,3,3,3,3,3,3,3,3
163.ppp,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...
zscalertwo.net,92,92,92,92,92,92,92,92,92,92
zscloud.net,13,13,13,13,13,13,13,13,13,13
zskorenskeho.cz,1,1,1,1,1,1,1,1,1,1
zskrymska.sk,1,1,1,1,1,1,1,1,1,1
zsr.sk,1,1,1,1,1,1,1,1,1,1
zsrosi.cz,1,1,1,1,1,1,1,1,1,1
zssk.sk,1,1,1,1,1,1,1,1,1,1
zsttk.net,40,40,40,40,40,40,40,40,40,40
zsttk.ru,4,4,4,4,4,4,4,4,4,4
zt.hu,6,6,6,6,6,6,6,6,6,6
zt.ua,5,5,5,5,5,5,5,5,5,5
ztcneda.com,1,1,1,1,1,1,1,1,1,1
ztomy.com,2845,2845,2845,2845,2845,2845,2845,2845,2845,2845
ztv.ne.jp,11,11,11,11,11,11,11,11,11,11
zu.edu.eg,2,2,2,2,2,2,2,2,2,2
zubatkin.com,1,1,1,1,1,1,1,1,1,1
zubbsteel.com,1,1,1,1,1,1,1,1,1,1
zuehlke.com,1,1,1,1,1,1,1,1,1,1
zuku.co.ke,1,1,1,1,1,1,1,1,1,1
zumpatelecom.com.br,1,1,1,1,1,1,1,1,1,1
zumtelecom.net.br,2,2,2,2,2,2,2,2,2,2
zuzino.net.ru,2,2,2,2,2,2,2,2,2,2
zvezdamedia.ru,1,1,1,1,1,1,1,1,1,1
zvjs.sk,1,1,1,1,1,1,1,1,1,1
zxonlinebd.com,4,4,4,4,4,4,4,4,4,4
zyduscadila.com,2,2,2,2,2,2,2,2,2,2
zyetel.com,3,3,3,3,3,3,3,3,3,3
zylinc.com,2,2,2,2,2,2,2,2,2,2
zzauto.cz,1,1,1,1,1,1,1,1,1,1
zzcempionats.lv,1,1,1,1,1,1,1,1,1,1

In [14]:
geo_network.groupby('networkLocation').count()

,city,cityId,continent,country,latitude,longitude,metro,networkDomain,region,subContinent
networkLocation,,,,,,,,,,
not available in demo dataset,903653,903653,903653,903653,903653,903653,903653,903653,903653,903653

In [15]:
geo_network.groupby('region').count()

,city,cityId,continent,country,latitude,longitude,metro,networkDomain,networkLocation,subContinent
region,,,,,,,,,,
(not set),27827,27827,27827,27827,27827,27827,27827,27827,27827,27827
Abruzzo,6,6,6,6,6,6,6,6,6,6
Abu Dhabi,95,95,95,95,95,95,95,95,95,95
Adana,188,188,188,188,188,188,188,188,188,188
Aichi Prefecture,8,8,8,8,8,8,8,8,8,8
Al Madinah Province,9,9,9,9,9,9,9,9,9,9
Alba County,21,21,21,21,21,21,21,21,21,21
Alberta,254,254,254,254,254,254,254,254,254,254
Alexandria Governorate,52,52,52,52,52,52,52,52,52,52
Algiers Province,46,46,46,46,46,46,46,46,46,46
Almaty Province,33,33,33,33,33,33,33,33,33,33
Amman Governorate,123,123,123,123,123,123,123,123,123,123
Andalusia,170,170,170,170,170,170,170,170,170,170
Ankara,1511,1511,1511,1511,1511,1511,1511,1511,1511,1511
Antalya,231,231,231,231,231,231,231,231,231,231
Antioquia,140,140,140,140,140,140,140,140,140,140
Aquitaine,68,68,68,68,68,68,68,68,68,68
Aragon,43,43,43,43,43,43,43,43,43,43
Arequipa,17,17,17,17,17,17,17,17,17,17
Arizona,544,544,544,544,544,544,544,544,544,544
Assam,6,6,6,6,6,6,6,6,6,6
Asturias,22,22,22,22,22,22,22,22,22,22
Atlantico,8,8,8,8,8,8,8,8,8,8
Attica,696,696,696,696,696,696,696,696,696,696
Auckland,306,306,306,306,306,306,306,306,306,306
Aust-Agder,17,17,17,17,17,17,17,17,17,17
Auvergne-Rhone-Alpes,174,174,174,174,174,174,174,174,174,174
Aydin Province,6,6,6,6,6,6,6,6,6,6
Ba Ria - Vung Tau,145,145,145,145,145,145,145,145,145,145
Bac Giang,30,30,30,30,30,30,30,30,30,30
...,...,...,...,...,...,...,...,...,...,...
Utah,62,62,62,62,62,62,62,62,62,62
Utrecht,108,108,108,108,108,108,108,108,108,108
Uttar Pradesh,242,242,242,242,242,242,242,242,242,242
Valencian Community,85,85,85,85,85,85,85,85,85,85
Valle del Cauca,42,42,42,42,42,42,42,42,42,42
Valparaiso Region,7,7,7,7,7,7,7,7,7,7
Vastra Gotaland County,456,456,456,456,456,456,456,456,456,456
Vaud,17,17,17,17,17,17,17,17,17,17
Veneto,25,25,25,25,25,25,25,25,25,25
Victoria,2741,2741,2741,2741,2741,2741,2741,2741,2741,2741
Vienna,622,622,622,622,622,622,622,622,622,622
Vilnius County,42,42,42,42,42,42,42,42,42,42
Vinh Phuc Province,41,41,41,41,41,41,41,41,41,41
Virginia,3101,3101,3101,3101,3101,3101,3101,3101,3101,3101
Vladimir Oblast,18,18,18,18,18,18,18,18,18,18
Wales,20,20,20,20,20,20,20,20,20,20
Washington,7642,7642,7642,7642,7642,7642,7642,7642,7642,7642
Wellington,19,19,19,19,19,19,19,19,19,19
West Bengal,1840,1840,1840,1840,1840,1840,1840,1840,1840,1840
West Java,385,385,385,385,385,385,385,385,385,385
West Pomeranian Voivodeship,25,25,25,25,25,25,25,25,25,25
West Virginia,14,14,14,14,14,14,14,14,14,14
Western Australia,107,107,107,107,107,107,107,107,107,107
Western Cape,43,43,43,43,43,43,43,43,43,43
Western Province,291,291,291,291,291,291,291,291,291,291
Wisconsin,543,543,543,543,543,543,543,543,543,543
Zhejiang,206,206,206,206,206,206,206,206,206,206
Zulia,239,239,239,239,239,239,239,239,239,239
Zurich,1186,1186,1186,1186,1186,1186,1186,1186,1186,1186
not available in demo dataset,508229,508229,508229,508229,508229,508229,508229,508229,508229,508229

In [16]:
geo_network.groupby('subContinent').count()

,city,cityId,continent,country,latitude,longitude,metro,networkDomain,networkLocation,region
subContinent,,,,,,,,,,
(not set),1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Australasia,14893,14893,14893,14893,14893,14893,14893,14893,14893,14893
Caribbean,2406,2406,2406,2406,2406,2406,2406,2406,2406,2406
Central America,15583,15583,15583,15583,15583,15583,15583,15583,15583,15583
Central Asia,1215,1215,1215,1215,1215,1215,1215,1215,1215,1215
Eastern Africa,1927,1927,1927,1927,1927,1927,1927,1927,1927,1927
Eastern Asia,46919,46919,46919,46919,46919,46919,46919,46919,46919,46919
Eastern Europe,45249,45249,45249,45249,45249,45249,45249,45249,45249,45249
Melanesia,81,81,81,81,81,81,81,81,81,81
Micronesian Region,55,55,55,55,55,55,55,55,55,55
Middle Africa,393,393,393,393,393,393,393,393,393,393
Northern Africa,7683,7683,7683,7683,7683,7683,7683,7683,7683,7683
Northern America,390657,390657,390657,390657,390657,390657,390657,390657,390657,390657
Northern Europe,58168,58168,58168,58168,58168,58168,58168,58168,58168,58168
Polynesia,25,25,25,25,25,25,25,25,25,25
South America,41731,41731,41731,41731,41731,41731,41731,41731,41731,41731
Southeast Asia,77800,77800,77800,77800,77800,77800,77800,77800,77800,77800
Southern Africa,2169,2169,2169,2169,2169,2169,2169,2169,2169,2169
Southern Asia,59321,59321,59321,59321,59321,59321,59321,59321,59321,59321
Southern Europe,35780,35780,35780,35780,35780,35780,35780,35780,35780,35780
Western Africa,2573,2573,2573,2573,2573,2573,2573,2573,2573,2573
Western Asia,38443,38443,38443,38443,38443,38443,38443,38443,38443,38443
Western Europe,59114,59114,59114,59114,59114,59114,59114,59114,59114,59114

How to deal with not set data:
1. relace it with NA
2. delete the data rows with minor information(might influence the sum of transcation, not figure out yet) 
3. delete the column with majority NA value

Try to replace with NA

In [17]:
geo_network = geo_network.replace('(not set)','NA')

In [18]:
geo_network.replace('not available in demo dataset','NA')

,city,cityId,continent,country,latitude,longitude,metro,networkDomain,networkLocation,region,subContinent
0,Izmir,NA,Asia,Turkey,NA,NA,NA,ttnet.com.tr,NA,Izmir,Western Asia
1,NA,NA,Oceania,Australia,NA,NA,NA,dodo.net.au,NA,NA,Australasia
2,Madrid,NA,Europe,Spain,NA,NA,NA,unknown.unknown,NA,Community of Madrid,Southern Europe
3,NA,NA,Asia,Indonesia,NA,NA,NA,unknown.unknown,NA,NA,Southeast Asia
4,NA,NA,Europe,United Kingdom,NA,NA,NA,unknown.unknown,NA,NA,Northern Europe
5,NA,NA,Europe,Italy,NA,NA,NA,fastwebnet.it,NA,NA,Southern Europe
6,NA,NA,Asia,Pakistan,NA,NA,NA,unknown.unknown,NA,NA,Southern Asia
7,Brisbane,NA,Oceania,Australia,NA,NA,NA,bigpond.net.au,NA,Queensland,Australasia
8,NA,NA,Europe,Austria,NA,NA,NA,spar.at,NA,NA,Western Europe
9,NA,NA,Europe,Netherlands,NA,NA,NA,chello.nl,NA,NA,Western Europe
10,NA,NA,Asia,India,NA,NA,NA,airtelbroadband.in,NA,NA,Southern Asia
11,NA,NA,Europe,France,NA,NA,NA,wanadoo.fr,NA,NA,Western Europe
12,Izmir,NA,Asia,Turkey,NA,NA,NA,unknown.unknown,NA,Izmir,Western Asia
13,Karachi,NA,Asia,Pakistan,NA,NA,NA,unknown.unknown,NA,Sindh,Southern Asia
14,NA,NA,Americas,Brazil,NA,NA,NA,cabotelecom.com.br,NA,NA,South America
15,NA,NA,Asia,China,NA,NA,NA,unknown.unknown,NA,NA,Eastern Asia
16,NA,NA,Europe,Netherlands,NA,NA,NA,igmholding.nl,NA,NA,Western Europe
17,Paris,NA,Europe,France,NA,NA,NA,nerim.net,NA,Ile-de-France,Western Europe
18,Singapore,NA,Asia,Singapore,NA,NA,NA,unknown.unknown,NA,NA,Southeast Asia
19,Buenos Aires,NA,Americas,Argentina,NA,NA,NA,phonevision.com.ar,NA,Buenos Aires,South America
20,NA,NA,Europe,Poland,NA,NA,NA,tpnet.pl,NA,NA,Eastern Europe
21,NA,NA,Europe,Germany,NA,NA,NA,live-servers.net,NA,NA,Western Europe
22,NA,NA,Americas,Canada,NA,NA,NA,unknown.unknown,NA,NA,Northern America
23,Bangkok,NA,Asia,Thailand,NA,NA,NA,asianet.co.th,NA,Bangkok,Southeast Asia
24,Jakarta,NA,Asia,Indonesia,NA,NA,NA,cbn.net.id,NA,Jakarta,Southeast Asia
25,NA,NA,Europe,Germany,NA,NA,NA,hafele.com,NA,NA,Western Europe
26,NA,NA,Europe,France,NA,NA,NA,coltfrance.com,NA,NA,Western Europe
27,NA,NA,Europe,Hungary,NA,NA,NA,broadband.hu,NA,NA,Eastern Europe
28,Bengaluru,NA,Asia,India,NA,NA,NA,unknown.unknown,NA,Karnataka,Southern Asia
29,NA,NA,Asia,Malaysia,NA,NA,NA,unknown.unknown,NA,NA,Southeast Asia
...,...,...,...,...,...,...,...,...,...,...,...
903623,NA,NA,Asia,Turkey,NA,NA,NA,unknown.unknown,NA,NA,Western Asia
903624,NA,NA,Americas,Puerto Rico,NA,NA,NA,unknown.unknown,NA,NA,Caribbean
903625,NA,NA,Americas,United States,NA,NA,NA,verizon.net,NA,NA,Northern America
903626,NA,NA,Americas,United States,NA,NA,NA,rr.com,NA,NA,Northern America
903627,NA,NA,Americas,Canada,NA,NA,NA,rupert.net,NA,NA,Northern America
903628,NA,NA,Americas,United States,NA,NA,NA,NA,NA,NA,Northern America
903629,NA,NA,Asia,Malaysia,NA,NA,NA,unknown.unknown,NA,NA,Southeast Asia
903630,NA,NA,Americas,Chile,NA,NA,NA,vtr.net,NA,NA,South America
903631,NA,NA,Europe,Germany,NA,NA,NA,NA,NA,NA,Western Europe
903632,NA,NA,Americas,Brazil,NA,NA,NA,f1net.com.br,NA,NA,South America
903633,NA,NA,Europe,United Kingdom,NA,NA,NA,btcentralplus.com,NA,NA,Northern Europe
903634,Stockholm,NA,Europe,Sweden,NA,NA,NA,dgcsystems.net,NA,Stockholm County,Northern Europe
903635,Los Angeles,NA,Americas,United States,NA,NA,Los Angeles CA,NA,NA,California,Northern America
903636,San Francisco,NA,Americas,United States,NA,NA,San Francisco-Oakland-San Jose CA,NA,NA,California,Northern America
903637,NA,NA,Europe,Serbia,NA,NA,NA,sbb.rs,NA,NA,Southern Europe
903638,NA,NA,Americas,United States,NA,NA,NA,embarqhsd.net,NA,NA,Northern America
903639,NA,NA,Europe,Italy,NA,NA,NA,electrosystem.com,NA,NA,Southern Europe
903640,NA,NA,Europe,Netherlands,NA,NA,NA,NA,NA,NA,Western Europe
903641,Hong Kong,NA,Asia,Hong Kong,NA,NA,NA,ctinets.com,NA,NA,Eastern Asia
903642,NA,NA,Europe,Germany,NA,NA,NA,NA,NA,NA,Western Europe
903643,Fremont,NA,Americas,United States,NA,NA,San Francisco-Oakland-San Jose CA,NA,NA,California,Northern America
903644,NA,NA,Americas,United States,NA,NA,NA,rr.com,NA,NA,Northern America
903645,New York,NA,Americas,United States,NA,NA,New York NY,att.net,NA,New York,Northern America
903646,Melbourne,NA,Oceania,Australia,NA,NA,NA,optusnet.com.au,NA,Victoria,Australasia
903647,NA,NA,Africa,Egypt,NA,NA,NA,tedata.net,NA,NA,Northern Africa
903648,NA,NA,Americas,Puerto Rico,NA,NA,NA,prtc.net,NA,NA,Caribbean
903649,NA,NA,Asia,Sri Lanka,NA,NA,NA,unknown.unknown,NA,NA,Southern Asia
903650,Seoul,NA,Asia,South Korea,NA,NA,NA,unknown.unknown,NA,Seoul,Eastern Asia
903651,NA,NA,Asia,Indonesia,NA,NA,NA,unknown.unknown,NA,NA,Southeast Asia
903652,NA,NA,Americas,Mexico,NA,NA,NA,cybercable.net.mx,NA,NA,Central America

In [19]:
geo_network = geo_network.drop('city',axis =1)

In [20]:
geo_network = geo_network.drop('cityId',axis =1)

In [21]:
geo_network = geo_network.drop('latitude',axis =1)

In [22]:
geo_network = geo_network.drop('longitude',axis =1)

In [23]:
geo_network = geo_network.drop('networkLocation',axis =1)

In [24]:
geo_network = geo_network.drop('metro',axis =1)

In [25]:
geo_network = geo_network.drop('region',axis =1)

In [26]:
geo_network.replace('unknown.unknown','NA')

       continent         country       networkDomain      subContinent
0           Asia          Turkey        ttnet.com.tr      Western Asia
1        Oceania       Australia         dodo.net.au       Australasia
2         Europe           Spain                  NA   Southern Europe
3           Asia       Indonesia                  NA    Southeast Asia
4         Europe  United Kingdom                  NA   Northern Europe
5         Europe           Italy       fastwebnet.it   Southern Europe
6           Asia        Pakistan                  NA     Southern Asia
7        Oceania       Australia      bigpond.net.au       Australasia
8         Europe         Austria             spar.at    Western Europe
9         Europe     Netherlands           chello.nl    Western Europe
10          Asia           India  airtelbroadband.in     Southern Asia
11        Europe          France          wanadoo.fr    Western Europe
12          Asia          Turkey                  NA      Western Asia
13          Asia        Pakistan                  NA     Southern Asia
14      Americas          Brazil  cabotelecom.com.br     South America
15          Asia           China                  NA      Eastern Asia
16        Europe     Netherlands       igmholding.nl    Western Europe
17        Europe          France           nerim.net    Western Europe
18          Asia       Singapore                  NA    Southeast Asia
19      Americas       Argentina  phonevision.com.ar     South America
20        Europe          Poland            tpnet.pl    Eastern Europe
21        Europe         Germany    live-servers.net    Western Europe
22      Americas          Canada                  NA  Northern America
23          Asia        Thailand       asianet.co.th    Southeast Asia
24          Asia       Indonesia          cbn.net.id    Southeast Asia
25        Europe         Germany          hafele.com    Western Europe
26        Europe          France      coltfrance.com    Western Europe
27        Europe         Hungary        broadband.hu    Eastern Europe
28          Asia           India                  NA     Southern Asia
29          Asia        Malaysia                  NA    Southeast Asia
...          ...             ...                 ...               ...
903623      Asia          Turkey                  NA      Western Asia
903624  Americas     Puerto Rico                  NA         Caribbean
903625  Americas   United States         verizon.net  Northern America
903626  Americas   United States              rr.com  Northern America
903627  Americas          Canada          rupert.net  Northern America
903628  Americas   United States                  NA  Northern America
903629      Asia        Malaysia                  NA    Southeast Asia
903630  Americas           Chile             vtr.net     South America
903631    Europe         Germany                  NA    Western Europe
903632  Americas          Brazil        f1net.com.br     South America
903633    Europe  United Kingdom   btcentralplus.com   Northern Europe
903634    Europe          Sweden      dgcsystems.net   Northern Europe
903635  Americas   United States                  NA  Northern America
903636  Americas   United States                  NA  Northern America
903637    Europe          Serbia              sbb.rs   Southern Europe
903638  Americas   United States       embarqhsd.net  Northern America
903639    Europe           Italy   electrosystem.com   Southern Europe
903640    Europe     Netherlands                  NA    Western Europe
903641      Asia       Hong Kong         ctinets.com      Eastern Asia
903642    Europe         Germany                  NA    Western Europe
903643  Americas   United States                  NA  Northern America
903644  Americas   United States              rr.com  Northern America
903645  Americas   United States             att.net  Northern America
903646   Oceania       Australia     optusnet.com.au       Australasia
903647    Africa           Egypt          tedata.net   Northern Africa
903648  Americas     Puerto Rico            prtc.net         Caribbean
903649      Asia       Sri Lanka                  NA     Southern Asia
903650      Asia     South Korea                  NA      Eastern Asia
903651      Asia       Indonesia                  NA    Southeast Asia
903652  Americas          Mexico   cybercable.net.mx   Central America

[903653 rows x 4 columns]